
@{
    Layout = null;
}

<!DOCTYPE html>

<html ng-app="myApp">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/Wunderlist.css" rel="stylesheet"/>
    
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/ajaxfunctions")
    @Scripts.Render("~/bundles/Modal")
    <script>
            var myApp = angular.module('myApp', []);
    </script>
    <script src="~/Scripts/services/listService.js"></script>
    <script src="~/Scripts/controllers/listController.js"></script>
</head>
<body id="wunderlist-base" role="application" class="wlapp-parent animate background-16 focus-settings" style="opacity: 1;"  ng-body>
    <div class="main-interface">
        <div class="" id="lists" role="navigation">
            <div class="lists-inner" tabindex="0">
                <div id="search-toolbar">
                    <a title="Toggle Sidebar" class="toggle-icon" role="button" tabindex="0" data-key-title="toggle_sidebar">
                        <svg class="list-toggle" width="20px" height="20px" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve">
                        <g>
                        <path d="M0.5,3.5l19,0" style="fill: none; stroke-width: 1px; stroke: white;"></path>
                        <path d="M0.5,9.53l19,0" style="fill: none; stroke-width: 1px; stroke: white;"></path>
                        <path d="M0.5,15.5l19,0" style="fill: none; stroke-width: 1px; stroke: white;"></path>
                            </g>
                        </svg>
                    </a>
                    <div class="search-input-wrapper">
                        <input aria-label="Поиск…" class="chromeless search-input" data-key-aria-label="placeholder_search" type="text">
                    </div>
                    <span class="search-icon-wrapper">
                        <a aria-label="Поиск" title="Поиск" class="search-icon" role="button" tabindex="0" data-key-aria-label="aria_search" data-key-title="aria_search">
                            <svg class="search rtl-flip" width="20px" height="20px" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <g stroke="none" stroke-width="1" fill-rule="evenodd">
                                    <g>
                                        <path d="M8.5025,15 C4.9225,15 2.0025,12.08 2.0025,8.5 C2.0025,4.92 4.9225,2 8.5025,2 C12.0825,2 15.0025,4.92 15.0025,8.5 C15.0025,12.08 12.0825,15 8.5025,15 L8.5025,15 Z M8.5025,3 C5.4625,3 3.0025,5.46 3.0025,8.5 C3.0025,11.54 5.4625,14 8.5025,14 C11.5425,14 14.0025,11.54 14.0025,8.5 C14.0025,5.46 11.5425,3 8.5025,3 L8.5025,3 Z M17.5025,18 C17.3825,18 17.2425,17.96 17.1425,17.86 L13.6425,14.36 C13.4625,14.16 13.4625,13.84 13.6425,13.64 C13.8425,13.46 14.1625,13.46 14.3625,13.64 L17.8625,17.14 C18.0425,17.34 18.0425,17.66 17.8625,17.86 C17.7625,17.96 17.6225,18 17.5025,18 L17.5025,18 Z" id="z">
                                        </path>
                                    </g>
                                </g>
                            </svg>
                        </a>
                        <a aria-label="Выйти из поиска" title="Выйти из поиска" class="search-stop-icon hidden" role="button" tabindex="0" data-key-aria-label="aria_exit_search" data-key-title="aria_exit_search">

                        </a>
                    </span>
                </div>
                <div id="user-toolbar">
                    <a class="user" data-path="me" role="button" tabindex="0" aria-label="Павел Гаманович Меню пользователя." aria-expanded="false" aria-haspopup="true">
                        <span class="user-avatar">
                            <div title="Павел Гаманович" class="avatar medium">
                            </div>
                        </span>
                        <span class="user-name">
                            Павел Гаманович
                        </span>
                        <span class="user-arrow">

                        </span>
                        <div id="sync">
                            <span class="offline-wrapper hidden">

                            </span>
                            <span class="syncing-wrapper hidden">

                            </span>
                        </div>
                    </a>
                    <div class="stream-counts">
                        <a data-path="activities" aria-label="Действия 0" title="Действия" class="activities-count" data-key-title="label_activity_center">

                            <span class="count hidden">
                                0
                            </span>
                        </a>
                        <a data-path="conversations" aria-label="Беседы 0" title="Беседы" class="conversations-count" data-key-title="smart_list_conversations">

                            <span class="count hidden">
                                0
                            </span>
                        </a>
                    </div>
                </div>
                <div class="lists-scroll" ng-controller="ListController">
                    <ul class="lists-collection" ng-repeat="phone in phones">
                        <li aria-label="" data-position="0" rel="237758426" draggable="true" class="sidebarItem list draggable shared member unreadComments overdue" tabindex="0" role="menuitem">
                            <a href="#/lists/237758426" aria-hidden="true">
                                <span class="title">
                                    {{phone.Title}}
                                </span>
                                <span class="overdue-count" aria-hidden="true">
                                    1
                                </span>
                                <span class="count" aria-hidden="true">
                                    1
                                </span>
                            </a>
                        </li>
                    </ul>
                    <ul class="new-list-dropzone"></ul>
                </div>
                <div class="sidebarActions">
                    <a class="sidebarActions-addList">
                        <span class="sidebarActions-icon">

                        </span>
                        <span class="sidebarActions-label">
                            <text rel="placeholder_create_list">
                                Создать список
                            </text>
                        </span>
                    </a>
                </div>
            </div>
        </div>
        <div class="animated" id="tasks" role="main">
            <div id="list-toolbar">
                <h1 class="title">
                    Входящие
                </h1>
                <div class="actionBar">
                    <div style="height: 0px;" class="actionBar-top">
                        <!-- Sorting -->
                        <ul class="actionBar-top-sort">
                            <li aria-label="По алфавиту" tabindex="0" class="first-menu-item" data-key-aria-label="actionbar_sort_alphabetically">
                                <a class="actionBar-top-sort-az">

                                    <text rel="actionbar_sort_alphabetically">
                                        По алфавиту
                                    </text>
                                </a>
                            </li>
                            <li aria-disabled="true" class="disabled" aria-label="По дате выполнения" tabindex="0" data-key-aria-label="actionbar_sort_due_date">
                                <a class="actionBar-top-sort-date">

                                    <text rel="actionbar_sort_due_date">
                                        По дате выполнения
                                    </text>
                                </a>
                            </li>
                            <li aria-label="actionbar_sort_creation_date" tabindex="0" data-key-aria-label="actionbar_sort_creation_date">
                                <a class="actionBar-top-sort-creation">

                                    <text rel="actionbar_sort_created_at">
                                        По дате создания
                                    </text>
                                </a>
                            </li>
                            <li aria-disabled="true" class="disabled" aria-label="По исполнителю" tabindex="0" data-key-aria-label="actionbar_sort_assignee">
                                <a class="actionBar-top-sort-assign">

                                    <text rel="actionbar_sort_assignee">
                                        По исполнителю
                                    </text>
                                </a>
                            </li>
                            <li aria-label="По важности" tabindex="0" class="last-menu-item" data-key-aria-label="actionbar_sort_priority">
                                <a class="actionBar-top-sort-priority">

                                    <text rel="actionbar_sort_priority">
                                        По важности
                                    </text>
                                </a>
                            </li>
                        </ul>
                        <!-- More -->
                        <ul class="actionBar-top-more">
                            <!-- duplication -->
                            <li aria-label="Дублировать список" tabindex="0" class="first-menu-item" data-key-aria-label="actionbar_duplicate_list">
                                <a aria-disabled="false" class="actionBar-top-duplicate-list">

                                    <text rel="actionbar_duplicate_list">
                                        Дублировать список
                                    </text>
                                </a>
                            </li>
                            <li aria-label="Копировать выбранные задачи" tabindex="0" data-key-aria-label="contextual_copy_selected_task">
                                <a aria-disabled="false" class="actionBar-top-copy-item">

                                    <span class="label">
                                        <text rel="contextual_copy_selected_task">
                                            Копировать выбранные задачи
                                        </text>
                                    </span>
                                </a>
                            </li>
                            <li aria-label="Вставить задачу" tabindex="0" data-key-aria-label="contextual_paste_task">
                                <a aria-disabled="true" class="actionBar-top-paste-item hidden">

                                    <span class="label">
                                        <text rel="contextual_paste_task_plural_$" data="0">
                                            Вставить задачи (<token class="token_0" title="0">
                                                0
                                            </token>
                                            )
                                        </text>
                                    </span>
                                </a>
                            </li>
                            <li aria-label="Отправить список" tabindex="0" data-key-aria-label="button_email_list">
                                <a class="actionBar-top-email-all">

                                    <text rel="button_email_list">
                                        Отправить список
                                    </text>
                                </a>
                            </li>
                            <li aria-disabled="false" class="" aria-label="Отправить по эл. почте" tabindex="0" data-key-aria-label="actionbar_email_selected_item">
                                <a class="actionBar-top-email-selected">

                                    <span class="email-items-label">
                                        <text rel="actionbar_email_selected_item">
                                            Отправить по эл. почте
                                        </text>
                                    </span>
                                </a>
                            </li>
                            <!-- print -->
                            <li aria-label="Печать списка" tabindex="0" class="" data-key-aria-label="button_print_list">
                                <a class="actionBar-top-print-all">

                                    <text rel="button_print_list">
                                        Печать списка
                                    </text>
                                </a>
                            </li>
                            <li aria-disabled="false" aria-label="Печать выбранной задачи" tabindex="0" class="" data-key-aria-label="actionbar_print_selected_item">
                                <a class="actionBar-top-print-selected">

                                    <span class="print-items-label">
                                        <text rel="actionbar_print_selected_item">
                                            Печать выбранной задачи
                                        </text>
                                    </span>
                                </a>
                            </li>
                            <!-- do not disturb -->
                            <li aria-label="Не беспокоить" tabindex="0" class=" disabled " data-key-aria-label="options_do_not_disturb">
                                <a class="actionBar-top-do-not-disturb">

                                    <span class="un-mute">
                                        <text rel="options_do_not_disturb">
                                            Не беспокоить
                                        </text>
                                    </span>
                                    <span class="status-label right on ">
                                        <text rel="label_on">
                                            Включено
                                        </text>
                                    </span>
                                    <span class="status-label right off active">
                                        <text rel="label_off">
                                            Выключено
                                        </text>
                                    </span>
                                </a>
                            </li>
                            <!-- delete selected item -->
                            <li aria-disabled="false" aria-label="Удалить" tabindex="0" class="last-menu-item" data-key-aria-label="button_delete">
                                <a aria-disabled="false" class="actionBar-top-trash">

                                    <span class="delete-items-label">
                                        <text rel="menubar_delete_task">
                                            Удалить выбранную задачу
                                        </text>
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="actionBar-bottom">
                        <a aria-disabled="true" aria-label="Поделиться" class="tab share first-tab disabled" data-menu="share" role="button" tabindex="0" data-key-aria-label="button_label_publiclist_share">

                            <span class="tab-text">
                                <text rel="button_label_publiclist_share">
                                    Поделиться
                                </text>
                            </span>
                        </a>
                        <a aria-disabled="false" aria-label="Сортировать список" class="tab sort-az" data-menu="sort" role="button" tabindex="0" data-key-aria-label="aria_sort_list">

                            <span class="tab-text">
                                <text rel="button_sort">
                                    Сортировка
                                </text>
                            </span>
                        </a>
                        <a aria-label="Еще" class="tab last-tab" data-menu="more" role="button" tabindex="0" data-key-aria-label="button_more">

                            <span class="tab-text">
                                <text rel="button_more">
                                    Еще
                                </text>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="tasks-scroll">
                <div class="addTask">
                    <div class="addTask-meta">
                        <a title="Отмеченная звездочкой задача" class="addTask-meta-star right" data-key-title="settings_general_starr_item">

                        </a>
                        <a title="Кому назначено" class="addTask-meta-assign right hidden" data-key-title="label_assign_to">

                            <span class="icon input-assign-frame">
                            </span>
                            <span class="icon input-assign-delete">
                            </span>
                        </a>
                        <a title="Задать дату выполнения" class="addTask-meta-date right" data-key-title="placeholder_set_due_date">
                            <span class="addTask-meta-date-label">
                            </span>
                            <span class="icon input-assign-delete">
                            </span>

                        </a>
                        <div class="addTask-meta-nlp right">
                        </div>
                    </div>
                    <a class="plus-wrapper">

                    </a>
                    <input aria-label="Добавить задачу в папку «Входящие»…" placeholder="Добавить задачу…" data-aria-label="Входящие" data-placeholder="Входящие" data-key-aria-label="placeholder_add_task_to_$" data-key-placeholder="placeholder_add_task_mobile" class="addTask-input chromeless" maxlength="255" type="text">
                    <div class="nlp-feedback">
                    </div>
                    <div class="positionHelper">
                        <div class="positionHelper-text">
                        </div>
                        <div class="positionHelper-target">
                        </div>
                    </div>
                    <div class="end-positionHelper-target">
                    </div>
                </div>
                <div class="task-list inbox">
                    <ol class="tasks">
                        <li draggable="true" aria-label="орпоорлопропропропрНажмите клавишу TAB, чтобы отобразить дополнительные параметры." rel="1651905468" class="taskItem selected" tabindex="0">
                            <div class="taskItem-body">
                                <a class="taskItem-checkboxWrapper checkBox" tabindex="-1" aria-hidden="true">
                                    <span title="Пометить как завершенную" data-key-title="contextual_mark_as_completed">

                                    </span>
                                    <span title="Пометить как незавершенную" data-key-title="contextual_mark_as_notcompleted">

                                    </span>
                                </a>
                                <div class="taskItem-titleWrapper" tabindex="-1" aria-hidden="true">
                                    <span class="taskItem-titleWrapper-title">
                                        орпоорлопропропропр
                                    </span>
                                </div>
                                <span title="В этой задаче есть комментарии" class="conversations-wrapper hidden " data-key-title="voiceover_task_comments_icon">

                                </span>
                                <span title="В этой задаче есть вложения" class="attachment-wrapper hidden" data-key-title="voiceover_task_attachments_icon">

                                </span>
                                <span class="taskItem-duedate  hidden" tabindex="-1" aria-hidden="true">
                                </span>
                                <span title="Recurring to-do" class="recurrence-wrapper  hidden" tabindex="-1" aria-hidden="true" data-key-title="recurring_icon_title">

                                </span>
                                <a class="taskItem-assign hidden" tabindex="-1" aria-hidden="true">
                                </a>
                                <a class="taskItem-star" tabindex="-1" aria-hidden="true">
                                    <span title="Пометить звездочкой" class="star-wrapper " data-key-title="contextual_mark_as_starred">

                                    </span>
                                    <span title="Убрать пометку звездочкой" class="starred-wrapper hidden" data-key-title="contextual_mark_as_unstarred">

                                    </span>
                                </a>
                                <div class="taskItem-progress transparent">
                                    <span class="taskItem-progress-bar">
                                    </span>
                                </div>
                            </div>
                        </li>
                        <li draggable="true" aria-label="xhfhkНажмите клавишу TAB, чтобы отобразить дополнительные параметры." rel="1653333238" class="taskItem" tabindex="0">
                            <div class="taskItem-body">
                                <a class="taskItem-checkboxWrapper checkBox" tabindex="-1" aria-hidden="true">
                                    <span title="Пометить как завершенную" data-key-title="contextual_mark_as_completed">

                                    </span>
                                    <span title="Пометить как незавершенную" data-key-title="contextual_mark_as_notcompleted">

                                    </span>
                                </a>
                                <div class="taskItem-titleWrapper" tabindex="-1" aria-hidden="true">
                                    <span class="taskItem-titleWrapper-title">
                                        xhfhk
                                    </span>
                                </div>
                                <span title="В этой задаче есть комментарии" class="conversations-wrapper hidden " data-key-title="voiceover_task_comments_icon">

                                </span>
                                <span title="В этой задаче есть вложения" class="attachment-wrapper hidden" data-key-title="voiceover_task_attachments_icon">

                                </span>
                                <span class="taskItem-duedate  hidden" tabindex="-1" aria-hidden="true">
                                </span>
                                <span title="Recurring to-do" class="recurrence-wrapper  hidden" tabindex="-1" aria-hidden="true" data-key-title="recurring_icon_title">

                                </span>
                                <a class="taskItem-assign hidden" tabindex="-1" aria-hidden="true">
                                </a>
                                <a class="taskItem-star" tabindex="-1" aria-hidden="true">
                                    <span title="Пометить звездочкой" class="star-wrapper " data-key-title="contextual_mark_as_starred">

                                    </span>
                                    <span title="Убрать пометку звездочкой" class="starred-wrapper hidden" data-key-title="contextual_mark_as_unstarred">

                                    </span>
                                </a>
                                <div class="taskItem-progress transparent">
                                    <span class="taskItem-progress-bar">
                                    </span>
                                </div>
                            </div>
                        </li>
                    </ol>
                    <h2 aria-label="Показать завершенные задачи" class="heading normal" role="heading" aria-role="list" tabindex="0">
                        <a class="groupHeader completed-items-heading" data-path="lists/inbox" href="/#/lists/inbox" aria-label="Показать завершенные задачи">
                            <text rel="settings_show_completed_tasks_mobile">
                                Показать завершенные задачи
                            </text>
                        </a>
                    </h2>
                    <ol class="tasks hidden"></ol>
                </div>
                <div class="tasks-404 hidden">
                </div>
            </div>
        </div>


    </div>
</body>

</html>