@using Epam.BriefList.WebUI.HelperExtension
<!Doctype html>
<html  ng-app="myApp" style="overflow:auto;overflow-x:auto; position:relative; min-height:100%;min-width:450px">
<head>

    @RenderSection("scripts", required: false)
    @*Styles.Render("~/Content/css")*@
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/ajaxfunctions")
    @Scripts.Render("~/bundles/Modal")

</head>
<body scroll="yes" ng-body>

    <div>

        @RenderBody()
    </div>

</body>
</html>